@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/* define App module styles here
----------------------------------------*/

body {
    background-color: #eee;
}

.unique-class {
    background-color: #aaa;

    a {
        border: 1px solid black;
    }

}

.list-group-item {
    color: red;
}
